{% extends 'tracker/base.html' %} {% load widget_tweaks %} 
{% block head_title %} Transactions List {% endblock %} {% block content %}

<h1
  class="mt-4 mb-6 text-2xl leading-none tracking-tight text-white md:text-3xl lg:text-4xl flex items-center mb-4"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6 me-2"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
    />
  </svg>
  Transactions List
</h1>

<div class="relative overflow-x-auto text-white">
<!-- define new grid -->
  <div class="grad grad-cols-4 gap-4">

<!--3/ 4 for the table of transaction -->
    <div class="col-span-3">
      {% if filter %}
      <table class="table">
        <!-- head -->
        <thead class="text-xs text-white uppercase">
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Category</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in filter.qs %}
          <!-- row 1 -->
          <tr>
            <th>{{transaction.id}}</th>
            <td>{{transaction.date}}</td>
            <td>{{transaction.category}}</td>
            <td>{{transaction.amount}}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p class="text-2xl text-white">No Transactions found</p>

      {% endif %}
    </div>



  </div>

  <form action="" method="GET">
    <div class="mb-2 form-control">
      {{filter.form.transaction_type|add_label_class:'label text-white' }}
      {% render_field filter.form.transaction_type class=' select bg-gray text-gray-900' %}

    </div>
    <button class="btn btn-success">filter</button>
  </form>


  {% comment %} {% include 'tracker/partials/transactions-container.html' %} {% endcomment %}
</div>

{% endblock %}
